@font-face {
    font-family: 'adventure_hollowregular';
    src: url('../FONTS/Adventure.otf') format('woff2'),
         url('../FONTS/Adventure\ Hollow.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    border: 4px solid black;
    font-family: 'adventure_hollowregular', 'Courier New', Courier, monospace;
    color: blue;
    font-size: 15px;
    text-align: center;
    background-color: palevioletred;
    margin: auto;
    padding: 20px;
}